<h1>{{ kategorija.category_text }}</h1>
<ul>
{% for question in vprasanja %}
    <h2>{{ question.question_text }}</h2>
    {% for odgovor in odgovori %}
	    {% if question.id == odgovor.question.id %}
	    	<form action="/kviz/{{ kategorija.id }}/results/" method="post">
	    	{% csrf_token %}
		    	<input type="checkbox" name="izbran_odgovor" value="{{ odgovor.id }}">{{ odgovor.answer_text }}<br>
	    {% endif %}
    {% endfor %}
{% endfor %}
</ul>
<input type="submit" name="ocena" value="oceni test">